%p
  %label.multi_option= t('roles')
  = f.check_box "admin", :class => "checkbox"
  = f.label :admin, t('admin'), :class => "checkbox"
  = f.check_box "designer", :class => "checkbox"
  = f.label :designer, t('designer'), :class => "checkbox"
  = f.check_box "bloger", :class => "checkbox"
  = f.label :bloger, t('bloger'), :class => "checkbox"